* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Hind, sans-serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
p {
  line-height: 1.5;
}
ul {
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
}
a,
span,
label,
input {
  display: inline-block;
}
input,
textarea,
button {
  outline: none;
}
.py {
  padding-top: 100px;
  padding-bottom: 100px;
}
.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: scale 1s ease-in-out forwards;
  -webkit-animation: scale 1s ease-in-out forwards;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
@keyframes scale {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
    filter: grayscale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0);
  }
}
a.try_free {
  padding: 0.8rem 1.5rem;
  background: var(--primary-color, #455ef9);
}
a.try_free:hover,
a.try_free:focus {
  background: var(--primary-color, #455ef9);
  border-color: var(--primary-color, #455ef9);
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3)) !important;
}

article.article h3 span .yellowbg {
  bottom: -2px;
  left: 0px;
  z-index: -1;
  animation: 3s linear 0s infinite normal none running yellowBg;
}
@keyframes yellowBg {
  0% {
    width: 0px;
  }
  15% {
    width: 100%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}

/* header */
header {
  position: fixed;

  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 70px;
  z-index: 100;
}
header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-light, #fff);
  box-shadow: var(--shadow);
  animation: 0.1s ease-in-out 0s 1 normal forwards running fade;
}
header.scroll {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  transition: all ease 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
ul li a,
a {
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  font-family: Hind, sans-serif;
}
section {
  z-index: 3;
}
header .header-left a.logo {
  margin-top: 10px;
}
header .header-left a.logo figure {
  width: 114px;
  height: 46px;
  margin: 0;
}

header .header-category {
  padding-left: 56px;
}
header .header-category::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 27px;
  width: 1px;
  height: 165%;
  background: rgb(206, 206, 206);
}
header .header_category li ul.drop_down_menu li > a:hover,
header ul li.drop_down_btn:hover > a {
  fill: var(--primary-color, #fff);
  color: var(--primary-color, #ffffff);
}
header .header-category .header-category-icon {
  width: 15px;
  margin-right: 10px;
}
header ul li ul.drop_down_menu {
  left: 0px;
  width: 200px;
  background: var(--color-light, #fff);
  box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
header ul li ul.category_drop_down_menu {
  top: calc(100% + 30px);
  padding: 17px 0px 15px;
  border-radius: 4px;
}
header ul li ul.drop_down_menu li a {
  width: 100%;
}
header .header-category li ul.drop_down_menu li > a {
  padding: 3px 30px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  text-transform: capitalize;
}
header li.drop_down_btn:hover ul.drop_down_menu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
header .header-right nav.main-menu {
  width: 50%;
}
header .header-right nav.main-menu ul {
  padding: 0px;
}
header .header-right nav.main-menu ul span {
  font-size: 0.6rem;
  vertical-align: text-top;
}
header .header-right nav.main-menu ul a:not(.drop_down_menu a) {
  padding: 35px 0px;
}
header nav.main-menu ul li ul.drop_down_menu {
  top: 120%;
}
header nav.main-menu ul li ul.drop_down_menu a {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
header nav.main-menu ul li ul.drop_down_menu li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 221);
}
header nav.main-menu ul li ul.drop_down_menu a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% + 1px);
  width: 100%;
  z-index: -2;
  background: var(--primary-color);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0s;
}
header nav.main-menu ul li ul.drop_down_menu a:hover {
  color: var(--color-light, #fff);
  background-color: blue;
}
header nav.main-menu ul li ul.drop_down_menu a:hover::before {
  transform-origin: left center;
  transform: scaleX(1);
  transition-delay: 0.1s;
}
header .form_and_btn form {
  background: #edeef3;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  border: 1px solid transparent;
}
header.sticky .form_and_btn form {
  background: var(--gray-color, #edeef3);
}
header .form_and_btn form:focus-within {
  border-color: var(--primary-color, #455ef9);
}
header .form_and_btn form .shopping_cart_icon {
  width: 24px;
}
header .form_and_btn form .shopping_cart_icon path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2px;
}
header .form_and_btn form button,
.form_and_btn form input {
  background: transparent;
  border: none;
}
header .form_and_btn form input {
  padding: 5px 1rem;
  font-size: 14px;
  width: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  margin-right: 10px;
}
header .form_and_btn form .shopping_cart_and_label span {
  position: absolute;
  top: -7px;
  right: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary-color, #455ef9);
  text-align: center;
  line-height: 18px;
  color: var(--color-light, #fff);
  font-size: 13px;
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3));
}
header .toggle-btn {
  width: 35px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 112;
}
.overlay.toggle {
  opacity: 1;
  pointer-events: all;
}

/*header end*/

/*page title*/

.page__title {
  font-size: 70px;
  color: #ffffff;
  line-height: 62px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .page__title {
    font-size: 50px;
  }
}
.page__title-2 {
  font-size: 60px;
  line-height: 1.17;
  color: #ffffff;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page__title-2 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page__title-2 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page__title-2 {
    font-size: 33px;
  }
}
@media (max-width: 575px) {
  .page__title-2 {
    font-size: 35px;
  }
}
.page__title-3 {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 12px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page__title-3 {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .page__title-3 {
    font-size: 26px;
  }
}
.page__title-pre {
  display: inline-block;
  height: 24px;
  line-height: 26px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  background: #30a820;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 7px;
  margin-bottom: 12px;
}
.page__title-pre.purple-bg {
  background: #b128ff;
}
.page__title-wrapper {
  position: relative;
  z-index: 1;
}
.page__title-wrapper .breadcrumb {
  margin-bottom: 0;
}
.page__title-wrapper .breadcrumb .breadcrumb-item.active {
  font-size: 15px;
  color: #ffffff;
}
.page__title-wrapper .breadcrumb .breadcrumb-item.active::before {
  content: ".";
  font-family: "Hind", sans-serif;
  font-size: 30px;
  color: #ffffff;
  line-height: 18px;
  padding-right: 13px;
}
.page__title-wrapper .breadcrumb .breadcrumb-item a {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}
#page-area
  .page__title-wrapper
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item {
  padding-left: 13px;
}
#page-area
  .page__title-wrapper
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item::before {
  content: ".";
  font-family: "Hind", sans-serif;
  font-size: 30px;
  color: #ffffff;
  line-height: 18px;
  padding-right: 13px;
}
.page__title-height {
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page__title-height-2 {
  min-height: 700px;
}
.page__title-overlay {
  position: relative;
}
.page__title-overlay::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.6);
}
.page__title-shape img {
  position: absolute;
  z-index: 1;
}
.page__title-shape img.page-title-shape-1 {
  left: 0;
  bottom: 105px;
}
.page__title-shape img.page-title-shape-2 {
  left: 105px;
  top: 35%;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .page__title-shape img.page-title-shape-2 {
    left: 40px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .page__title-shape img.page-title-shape-2 {
    top: 28%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page__title-shape img.page-title-shape-2 {
    top: 24%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page__title-shape img.page-title-shape-2 {
    top: 29%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page__title-shape img.page-title-shape-2 {
    left: 50px;
    top: 28%;
  }
}
@media (max-width: 575px) {
  .page__title-shape img.page-title-shape-2 {
    left: 30px;
    top: 28%;
  }
}
.page__title-shape img.page-title-shape-3 {
  bottom: 35%;
  right: 0;
}
.page__title-shape img.page-title-shape-4 {
  bottom: 41%;
  right: 0;
}
.page__title-shape img.page-title-shape-5 {
  top: 61%;
  left: 0;
  z-index: -1;
}
.page__title-shape img.page-title-shape-6 {
  top: 43%;
  left: 5%;
  z-index: -1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .page__title-shape img.page-title-shape-6 {
    top: 20%;
    left: 3%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page__title-shape img.page-title-shape-6 {
    top: 20%;
    left: 3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page__title-shape img.page-title-shape-6 {
    top: 20%;
    left: 3%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page__title-shape img.page-title-shape-6 {
    top: 20%;
    left: 3%;
  }
}
@media (max-width: 575px) {
  .page__title-shape img.page-title-shape-6 {
    top: 20%;
    left: 3%;
  }
}
.page__title-shape img.page-title-shape-7 {
  top: 27%;
  right: 0;
  z-index: -1;
}
.page__title-shape img.page-title-shape-8 {
  top: 38%;
  right: 25%;
  z-index: -1;
}
.page__title-breadcrumb .breadcrumb {
  margin-bottom: 30px;
}
.page__title-breadcrumb .breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-weight: 400;
  color: #53545b;
}
.page__title-breadcrumb .breadcrumb .breadcrumb-item.active::before {
  content: ".";
  font-family: "Hind", sans-serif;
  font-size: 30px;
  color: #53545b;
  line-height: 18px;
  padding-right: 13px;
}
#page-area
  .page__title-breadcrumb
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item::before {
  content: ".";
  font-family: "Hind", sans-serif;
  font-size: 30px;
  color: #53545b;
  line-height: 18px;
  padding-right: 13px;
}
/* page title end*/

/* course area*/

.pb-120 {
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}
.mb-50 {
  margin-bottom: 50px;
}
.course__tab-inner {
  padding: 15px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.grey-bg-2 {
  background: #edeef3;
}
.course__item {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  -moz-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
}
.course__item-3 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course__item-3 .course__more {
  border: 1px solid #eef0f6;
}
.course__item-3 .course__content {
  border: 1px solid #eef0f6;
  border-top: none;
  border-bottom: none;
}
.course__item:hover .course__thumb img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.course__item-2 {
  padding: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__item-2 {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .course__item-2 {
    padding: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__thumb-list {
    height: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__thumb-list img {
    height: 100%;
  }
}
.course__tag {
  position: absolute;
  top: 20px;
  left: 20px;
}
.course__tag a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #b128ff;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__tag a.sky-blue {
  background: #0fa0dd;
}
.course__tag a.green {
  background: #30a820;
}
.course__tag a.blue {
  background: #3b60ff;
}
.course__tag a.blue-2 {
  background: #5744cb;
}
.course__tag a.orange {
  background: #fa7919;
}
.course__tag a.pink {
  background: #f2277e;
}
.course__tag a.yellow {
  background: #ffa507;
}
.course__tag-2 i {
  color: #2b4eff;
  padding-right: 8px;
}
.course__tag-2 a {
  font-size: 16px;
  color: #53545b;
  font-weight: 500;
}
.course__tag-2 a:hover {
  color: #2b4eff;
}
.course__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__title {
    font-size: 18px;
  }
}
.course__title a:hover {
  color: #2b4eff;
}
.course__title-2 {
  font-size: 24px;
  margin-bottom: 2px;
}
.course__title-2 a:hover {
  color: #2b4eff;
}
.course__title-3 {
  font-size: 36px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__title-3 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .course__title-3 {
    font-size: 20px;
  }
}
.course__meta {
  margin-bottom: 7px;
}
.course__lesson span {
  font-size: 16px;
}
.course__lesson span i {
  color: #53545b;
  padding-right: 7px;
}
.course__content {
  padding: 25px 30px;
}
.course__content-2 {
  padding-top: 25px;
}
.course__content-2 p {
  margin-bottom: 30px;
}
.course__content-3 {
  padding-left: 80px;
  padding-right: 70px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__content-3 {
    padding-top: 15px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__content-3 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__content-3 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}
@media (max-width: 575px) {
  .course__content-3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 85px;
  }
}
.course__content-4 {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__content-4 {
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__content-4 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__content-4 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}
@media (max-width: 575px) {
  .course__content-4 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 85px;
  }
}
.course__summary p {
  font-size: 18px;
}
@media (max-width: 575px) {
  .course__summary p {
    font-size: 16px;
  }
}
.course__right {
  position: relative;
  height: 100%;
}
.course__rating span {
  font-size: 16px;
}
.course__rating span i {
  padding-right: 5px;
  color: #ff9415;
}
.course__rating-2 h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}
.course__rating-2 ul li {
  display: inline-block;
}
.course__rating-2 ul li a {
  font-size: 14px;
  color: #ff9415;
}
.course__rating-inner p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 3px;
}
.course__teacher-thumb img {
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
}
.course__teacher-thumb-2 {
  position: relative;
}
.course__teacher-thumb-2 img {
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
}
.course__teacher-thumb-3 img {
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
}
.course__teacher h6 {
  font-size: 16px;
  font-weight: 500;
  color: #53545b;
  margin-bottom: 0;
  line-height: 1;
  padding-top: 2px;
}
.course__teacher h6 a:hover {
  color: #2b4eff;
}
.course__teacher-info h6 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
}
.course__teacher-info h6 a {
  line-height: 1;
}
.course__teacher-info span {
  color: #6d6e75;
  font-size: 14px;
  font-weight: 600;
}
.course__teacher-info-3 h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}
.course__teacher-info-3 p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
}
.course__teacher-rating {
  position: absolute;
  top: -1px;
  right: -7px;
}
.course__teacher-rating i {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  background: #ff9415;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.course__update h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}
.course__update p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
}
.course__status span {
  font-size: 20px;
  color: #b128ff;
  font-weight: 600;
  padding-right: 5px;
}
.course__status span.sky-blue {
  color: #0fa0dd;
}
.course__status span.green {
  color: #30a820;
}
.course__status span.blue {
  color: #3b60ff;
}
.course__status span.blue-2 {
  color: #5744cb;
}
.course__status span.orange {
  color: #fa7919;
}
.course__status span.pink {
  color: #f2277e;
}
.course__status span.yellow {
  color: #ffa507;
}
.course__status span.old-price {
  font-size: 14px;
  color: #6d6e75;
  text-decoration: line-through;
}
.course__more {
  padding: 10px 30px;
  padding-top: 15px;
  border-top: 1px solid #f0f0f5;
}
.course__more-2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-left: 80px;
  padding-right: 70px;
  background: #ffffff;
}
@media (max-width: 575px) {
  .course__more-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.course__more-3 {
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 575px) {
  .course__more-3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.course__btn .link-btn {
  color: #0e1133;
}
.course__btn .link-btn:hover {
  color: #2b4eff;
}
.course__menu button {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  background: transparent;
  text-transform: capitalize;
  position: relative;
}
.course__menu button .tag {
  position: absolute;
  top: -25px;
  right: -4px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  background: #2b4eff;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
  -moz-box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
  box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
}
.course__menu button .tag::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid #2b4eff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.course__menu button:hover,
.course__menu button.active {
  color: #2b4eff;
}
.course__menu button:not(:first-child) {
  margin-left: 25px;
}
@media (max-width: 575px) {
  .course__menu button:not(:first-child) {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .course__menu button {
    margin-right: 25px;
  }
}
.course__tab-inner {
  padding: 15px 20px;

  border-radius: 4px;
}
.course__tab-btn .nav-tabs {
  border: none;
}
.course__tab-btn .nav-tabs .nav-item .nav-link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  padding: 0;
  margin-right: 6px;
}
.course__tab-btn .nav-tabs .nav-item .nav-link svg {
  width: 14px;
  height: 14px !important;
}
.course__tab-btn .nav-tabs .nav-item .nav-link svg.grid .st0 {
  fill: none;
  stroke: #53545b;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.course__tab-btn .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
}
.course__tab-btn .nav-tabs .nav-item .nav-link.active svg.grid .st0 {
  fill: none;
  stroke: #ffffff;
}
.course__tab-btn .nav-tabs .nav-item .nav-link.active svg .st0 {
  fill: #ffffff;
}
.course__tab-2 .nav-tabs {
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.course__tab-2 .nav-tabs .nav-item {
  width: 25%;
}
.course__tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #d2d3dc;
}
.course__tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link.active {
  border-color: #2b4eff;
}
.course__tab-2 .nav-tabs .nav-item .nav-link {
  background: #edeef3;
  font-size: 16px;
  font-weight: 600;
  color: #0e1133;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.course__tab-2 .nav-tabs .nav-item .nav-link i {
  padding-right: 5px;
}
.course__tab-2 .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
  color: #ffffff;
}
@media (max-width: 575px) {
  .course__tab-2 .nav-tabs .nav-item .nav-link span {
    display: none;
  }
}
.course__view {
  margin-left: 12px;
}
.course__view h4 {
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  display: inline-block;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .course__sort {
    margin-top: 15px;
  }
}
.course__sort-inner {
  position: relative;
}
.course__sort-inner::before {
  content: "\f107";
  right: 15px;
  top: 4px;
  position: absolute;
  color: #53545b;
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
}
.course__sort-inner select {
  appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  width: 160px;
  height: 35px;
  line-height: 37px;
  padding: 0 20px;
  font-size: 15px;
  color: #53545b;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__sort-inner select:hover {
  cursor: pointer;
}
.course__description h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
.course__description p {
  font-size: 18px;
  color: #53545b;
}
.course__description-list h4 {
  font-size: 26px;
  margin-bottom: 15px;
}
.course__description-list ul li {
  font-size: 18px;
  color: #53545b;
  margin-bottom: 7px;
}
.course__description-list ul li i {
  font-size: 16px;
  color: #0e1133;
  padding-right: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__sidebar {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__sidebar {
    padding-left: 0;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__sidebar {
    margin-top: 50px;
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  .course__sidebar {
    margin-top: 50px;
    padding-left: 0;
  }
}
.course__sidebar-widget {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 27px 30px;
  padding-bottom: 24px;
  margin-bottom: 3px;
}
.course__sidebar-widget-2 {
  padding: 30px;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__sidebar-title {
  font-size: 20px;
  margin-bottom: 27px;
  text-transform: capitalize;
}
.course__sidebar-search {
  position: relative;
}
.course__sidebar-search input {
  width: 100%;
  height: 60px;
  line-height: 58px;
  padding: 0 30px;
  padding-right: 45px;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #f3f4f8;
  outline: none;
}
.course__sidebar-search input::placeholder {
  color: #8d8e9a;
  font-weight: 500;
}
.course__sidebar-search input:focus {
  border-color: #2b4eff;
  background: #ffffff;
}
.course__sidebar-search button {
  width: 18px;
  height: 18px;
  background: transparent;
  position: absolute;
  top: 17px;
  right: 20px;
}
.course__sidebar-search button svg .st0 {
  fill: #8c8faa;
}
.course__sidebar-search button svg .st1 {
  fill: #0e1133;
}
.course__sidebar-check input {
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  display: block;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #c7c9d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
.course__sidebar-check input:checked {
  position: relative;
  background-color: #2b4eff;
  border-color: transparent;
}
.course__sidebar-check input:checked::after {
  box-sizing: border-box;
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  font-size: 11px;
  color: #ffffff;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.course__sidebar-check input:hover {
  cursor: pointer;
}
.course__sidebar-check label {
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  padding-left: 14px;
}
.course__sidebar-check label:hover {
  cursor: pointer;
  color: #2b4eff;
}
.course__sm-thumb img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.course__sm-content h5 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1;
}
.course__sm-content h5 a:hover {
  color: #2b4eff;
}
.course__sm-price span {
  font-size: 14px;
  color: #2b4eff;
  font-weight: 600;
}
.course__sm-rating ul li {
  display: inline-block;
}
.course__sm-rating ul li a {
  font-size: 10px;
  color: #ff9415;
  line-height: 1;
}
.course__instructor h3 {
  font-size: 26px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__instructor-item {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__instructor-item {
    margin-top: 25px;
    margin-right: 0px;
  }
}
@media (max-width: 575px) {
  .course__instructor-item {
    margin-top: 25px;
    margin-right: 0px;
  }
}
.course__instructor-thumb img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.course__instructor-content h3 {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1;
}
.course__instructor-content p {
  font-size: 14px;
  color: #53545b;
  margin-bottom: 0;
}
.course__share h3 {
  font-size: 20px;
}
.course__share ul li {
  display: inline-block;
  margin-right: 10px;
}
.course__share ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  font-size: 13px;
  color: #0e1133;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__share ul li a.fb {
  color: #285da1;
  background: rgba(40, 93, 161, 0.1);
}
.course__share ul li a.fb:hover {
  color: #ffffff;
  background: #285da1;
}
.course__share ul li a.tw {
  color: #03a9f4;
  background: rgba(3, 169, 244, 0.1);
}
.course__share ul li a.tw:hover {
  color: #ffffff;
  background: #03a9f4;
}
.course__share ul li a.pin {
  color: #d8163f;
  background: rgba(216, 22, 63, 0.1);
}
.course__share ul li a.pin:hover {
  color: #ffffff;
  background: #d8163f;
}
.course__curriculum-content {
  padding: 13px 30px;
  border-bottom: 1px solid #edeef2;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.course__curriculum-content:hover {
  background: #f6f7fb;
}
.course__curriculum-info svg {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}
.course__curriculum-info svg .st0 {
  fill: none;
  stroke: #6d6e75;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.course__curriculum-info h3 {
  display: inline-block;
  font-size: 16px;
  color: #53545b;
  font-weight: 400;
  margin-bottom: 0;
}
.course__curriculum-info h3 span {
  color: #0e1133;
  font-weight: 500;
}
.course__curriculum-meta span.time {
  font-size: 16px;
  color: #53545b;
}
.course__curriculum-meta span.time i {
  margin-right: 7px;
}
.course__curriculum-meta span.question {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f2277e;
  margin-left: 20px;
}
.course__curriculum .accordion-item {
  padding: 0;
}
.course__curriculum .accordion-item .accordion-button {
  outline: none;
  border: 1px solid #edeef2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: #f3f4f8;
  font-size: 20px;
  font-weight: 700;
  color: #0e1133;
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
}
.course__curriculum .accordion-item .accordion-button.collapsed {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__curriculum .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course__curriculum .accordion-item .accordion-body {
  padding: 0;
}
.course__review-rating-info {
  padding: 62px 0;
  border-right: 3px solid #ffffff;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
@media (max-width: 575px) {
  .course__review-rating-info {
    border-right: 0;
    border-bottom: 3px solid #ffffff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
}
.course__review-rating-info h5 {
  font-size: 100px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 8px;
}
.course__review-rating-info ul li {
  display: inline-block;
}
.course__review-rating-info ul li a {
  color: #ff9415;
}
.course__review-rating-info p {
  color: #53545b;
  margin-bottom: 0;
}
.course__review-progress {
  width: calc(100% - 60px - 60px);
  height: 4px;
  overflow: hidden;
  background: #d8dae3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.course__review-progress .single-progress {
  background: #2b4eff;
  height: 100%;
}
.course__review-details {
  padding: 35px 65px 10px 35px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.course__review-details > h5 {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .course__review-details {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
}
.course__review-item {
  margin-bottom: 5px;
}
.course__review-text span {
  font-size: 16px;
  color: #53545b;
}
.course__review-percent {
  width: 40px;
}
.course__review-percent h5 {
  font-size: 16px;
  font-weight: 400;
  color: #53545b;
  margin-bottom: 0;
}
.course__comment-box {
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 25px 40px 25px 30px;
  margin-bottom: 10px;
}
.course__comment-box p {
  color: #53545b;
  margin-bottom: 0;
}
.course__comment-thumb img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.course__comment-info {
  margin-bottom: 5px;
}
.course__comment-info h4 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}
.course__comment-info span {
  font-size: 14px;
  color: #53545b;
}
.course__comment-rating ul li {
  display: inline-block;
}
.course__comment-rating ul li a {
  font-size: 12px;
  color: #ff9415;
}
.course__comment-rating ul li a.no-rating {
  color: #b8b9bf;
}
.course__form h3 {
  font-size: 26px;
  margin-bottom: 40px;
}
.course__form-input input,
.course__form-input textarea {
  width: 100%;
  height: 56px;
  line-height: 54px;
  border: 2px solid #f3f4f8;
  outline: none;
  background: #f3f4f8;
  padding: 0 22px;
  font-size: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.course__form-input input:focus,
.course__form-input textarea:focus {
  border-color: #2b4eff;
  background: #ffffff;
}
.course__form-input input::placeholder,
.course__form-input textarea::placeholder {
  color: #53545b;
}
.course__form-input textarea {
  height: 150px;
  resize: none;
  padding: 20px;
  line-height: 1.1;
}
.course__form-rating {
  margin-bottom: 10px;
}
.course__form-rating span {
  color: #53545b;
}
.course__form-rating ul {
  display: inline-block;
}
.course__form-rating ul li {
  display: inline-block;
}
.course__form-rating ul li a {
  font-size: 14px;
  color: #ff9415;
}
.course__form-rating ul li a.no-rating {
  color: #b8b9bf;
}
.course__form-btn button {
  text-transform: capitalize;
}
.course__member-item {
  padding: 25px 30px;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.course__member-thumb {
  position: relative;
}
.course__member-thumb::after {
  position: absolute;
  content: "";
  right: 0;
  top: -5px;
  width: 1px;
  height: 80px;
  background: #dddee4;
}
@media (max-width: 575px) {
  .course__member-thumb::after {
    display: none;
  }
}
.course__member-thumb img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.course__member-name h5 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}
.course__member-name span {
  font-size: 15px;
  color: #53545b;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__member-info {
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  .course__member-info {
    margin-top: 25px;
    padding-left: 0;
  }
}
.course__member-info h5 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}
.course__member-info span {
  font-size: 15px;
  color: #53545b;
}
.course__slider .swiper-pagination {
  bottom: 20px;
}
.course__slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d6d7de;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 1;
}
.course__slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2b4eff;
}
.course__video-thumb {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__video-thumb::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.5);
}
.course__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.course__video-price h5 {
  font-size: 26px;
  display: inline-block;
  margin-bottom: 0;
}
.course__video-price h5 span {
  font-size: 20px;
  font-weight: 600;
}
.course__video-price h5.old-price {
  text-decoration: line-through;
  color: #6d6e75;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
}
.course__video-discount span {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  color: #ff4690;
  background: rgba(255, 70, 144, 0.08);
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.course__video-content ul li:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eef0f6;
}
.course__video-icon svg {
  width: 16px;
  height: 20px;
  margin-right: 12px;
}
.course__video-icon svg .st0 {
  fill: none;
  stroke: #2b4eff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 2.6667;
}
.course__video-info h5 {
  margin-bottom: 0;
  font-weight: 400;
  color: #6d6e75;
  font-size: 15px;
  line-height: 1;
}
.course__video-info h5 span {
  font-weight: 500;
  color: #0e1133;
  padding-right: 5px;
}
.course__payment h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.course__enroll-btn i {
  padding-left: 4px;
}
.course__shape img {
  position: absolute;
}
.course__shape img.course-dot {
  right: -30px;
  top: 150px;
  z-index: -1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__shape img.course-dot {
    right: -20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__shape img.course-dot {
    right: -20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__shape img.course-dot {
    right: -10px;
  }
}
@media (max-width: 575px) {
  .course__shape img.course-dot {
    right: -10px;
  }
}
/*course area end*/

/*cta area*/
.mb--120 {
  margin-bottom: -120px;
}
#cta .cta__inner {
  padding: 50px 100px 53px 70px;

  box-shadow: 0px 30px 60px 0px rgba(0, 4, 48, 0.3);
  position: relative;
  z-index: 1;
}
.blue-bg {
  background: #2b4eff;
}
.fix {
  overflow: hidden;
}
#cta .cta__shape img {
  position: absolute;
  bottom: -48px;
  right: -148px;
}
#cta .cta__title {
  position: relative;
  z-index: 1;

  color: #ffffff;
  margin-bottom: 0;
}
#cta .e-btn-white {
  height: 54px;
  line-height: 58px;
  background: #ffffff;
  color: #0e1133;
  padding: 0 45px;
}
.p-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}
/* footer*/

.footer__logo img {
  max-width: 50%;
}
.pb-40 {
  padding-bottom: 40px;
}

.pt-190 {
  padding-top: 190px;
}
.footer-bg {
  background: #0e1133;
}
.footer__widget-title {
  padding-top: 5px;
  font-size: 20px;
  color: #ffffff;
}
.footer__widget-title-2 {
  color: #0e1133;
}
.footer__widget-body p {
  font-size: 16px;
  line-height: 24px;
  color: #a1a2ab;
  margin-bottom: 30px;
}
.footer__widget-body-2 p {
  color: #53545b;
}
.footer__social ul li {
  display: inline-block;
}
.footer__social ul li:not(:last-child) {
  margin-right: 10px;
}
.footer__social ul li a {
  display: inline-block;
  font-size: 15px;
  width: 44px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #285da1;
  background: #285da1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
}
.footer__social ul li a:hover {
  background: transparent;
  color: #285da1;
}
.footer__social ul li a.tw {
  background: #03a9f4;
  border-color: #03a9f4;
}
.footer__social ul li a.tw:hover {
  background: transparent;
  color: #03a9f4;
}
.footer__social ul li a.pin {
  background: #d2173f;
  border-color: #d2173f;
}
.footer__social ul li a.pin:hover {
  background: transparent;
  color: #d2173f;
}
.footer__link ul li:not(:last-child) {
  margin-bottom: 4px;
}
.footer__link ul li a {
  color: #a1a2ab;
}
.footer__link ul li a:hover {
  color: #ffffff;
}
.footer__link-2 ul li a {
  color: #53545b;
}
.footer__link-2 ul li a:hover {
  color: #2b4eff;
}
.footer__subscribe-input {
  position: relative;
}
.footer__subscribe-input input {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  padding-right: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.footer__subscribe-input input::placeholder {
  font-size: 14px;
  color: #6d6e75;
}
.footer__subscribe-input button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #ffffff;
  background: #2b4eff;
  width: 70px;
  height: 60px;
  padding-right: 25px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  overflow: hidden;
}
.footer__subscribe-input button i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}
.footer__subscribe-input button i:last-child {
  left: 0%;
  visibility: hidden;
  opacity: 0;
}
.footer__subscribe-input button:hover i {
  left: 100%;
  visibility: hidden;
  opacity: 0;
}
.footer__subscribe-input button:hover i:last-child {
  left: 50%;
  visibility: visible;
  opacity: 1;
}
.footer__subscribe p {
  font-size: 14px;
  line-height: 20px;
  color: #83848a;
  padding-right: 60px;
}
.footer__subscribe-2 p {
  color: #6d6e75;
}
.footer__pl-70 {
  padding-left: 70px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer__pl-70 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer__pl-70 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer__pl-70 {
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  .footer__pl-70 {
    padding-left: 0;
  }
}
.footer__bottom {
  padding: 20px 0;
  border-top: 1px solid #1c1f3f;
}
.footer__bottom-2 {
  border-color: #e0e1e8;
}
.footer__copyright p {
  font-size: 14px;
  color: #83848a;
  margin-bottom: 0;
}
.footer__copyright p a {
  color: #ffffff;
}
.footer__copyright-2 p {
  color: #6d6e75;
}
.footer__copyright-2 p a {
  color: #2b4eff;
}
/*footer end*/
